*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

/gradle
/build.gradle
/gradle.properties
/gradlew
/gradlew.bat
/settings.gradle
/app/build
/app/libs/
/app/build.gradle
/app/local.properties
/app/src/androidTest
/app/src/main/res
/app/src/main/AndroidManifest.xml
src/main/res
src/test/